fastapi==0.115.12
uvicorn==0.34.2
streamlit==1.45.1
chromadb==1.0.7
rank-bm25==0.2.2
sentence-transformers==4.1.0
groq==0.25.0
llama-parse==0.6.22
pydantic==2.11.3
python-dotenv==1.1.0
cross-encoder==0.0.3
numpy==2.2.5
httpx==0.28.1
